# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:15
    container_name: max_pilot_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_/var/lib/postgresql/data
    ports:
      - "5432:5432" # Только для отладки, можно убрать в проде
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: max_pilot_backend
    ports:
      - "${BACKEND_PORT}:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:${POSTGRES_PORT}/${POSTGRES_DB}
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - SITE_URL=${SITE_URL}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  bot:
    build: ./bot
    container_name: max_pilot_bot
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - BACKEND_API_URL=${BACKEND_API_URL} # Используем внешний URL для Docker Compose
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_
